---
import { Image } from 'astro:assets'
import { glob } from 'glob'

// async function ImageFetcher(pattern: string) {
//   const files = glob.sync(pattern, { posix: true })
//   const imagePromises = files.map(async (file) => {
//     const src = file.replace('public', '')
//     return { src }
//   })

//   const imageFiles = await Promise.all(imagePromises)

//   imageFiles.sort((a, b) => a.src.localeCompare(b.src))

//   return imageFiles
// }

// const imageFiles = await ImageFetcher('public/images/*.{jpg,,jpeg,png,webp}')

const { images, description } = Astro.props
let _a = images.split(',')
const imgObjs = _a.map(x=>{
  let _tmp = x.split('|')
  return {
    name:_tmp[0],
    url:_tmp[1]
  }
})

---

<div id="main">
  {
    imgObjs.map((img) => (
      <article class="thumb">
        <a class="image" href={img.url}>
          <Image
            src={img.url}
            width="1200"
            height="750"
            alt="Astro Multiverse"
          />
        </a>
        <h2>{img.name}</h2>
        <p>{description}</p>
      </article>
    ))
  }
</div>
