---
// import { getEntry } from "astro:content";
// import Gallery from "../../components/Gallery.astro";
import ImageThreejsExternalScripts from "./ImageThreejsExternalScripts.astro";
// import "../styles/image-threejs.css";
// let og = "og-image.jpg";
// let title = "欣赏美图，也是养生";
// let description = "欣赏美图，也是养生，每天一张，分享给更多朋友。";
// const _data = await getEntry("gallery", "pics");
// const images = _data.body;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="../styles/image-threejs.css">
    <!-- <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8317527679530231"
      crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2HYXK51D0M"
    ></script> -->
    <script>
    //   window.dataLayer = window.dataLayer || [];
    //   function gtag() {
    //     dataLayer.push(arguments);
    //   }
    //   gtag("js", new Date());

    //   gtag("config", "G-2HYXK51D0M");
    </script>
  </head>
  <body class="is-preload">
    <div id="three-container"></div>


    <ImageThreejsExternalScripts />
  </body>
</html>
